.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.divAutomationFileGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 4px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
}
/* .divSettingDetail { */
.divAutomationFileDetail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* .lblSettingDetailMain { */
.lblAutomationFileDetailMain {
  font-weight: bold;
  /* color: var(--off-white); */
}
/* .lblSettingDetailSub { */
.lblAutomationFileDetailSub {
  font-size: 0.6rem;
  text-align: center;
}
/* .inputSettingDetail { */
/* .inputAutomationFileDetail {
  flex: 1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--gray-medium);
  color: black;
} */
.inputAutomationFileDetail {
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: black;
  width: 100%;
  min-width: 300px;
  white-space: nowrap;
  overflow-x: auto;
}
.btnFileLink {
  background: none;
  color: blue;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
}
.btnUpload {
  background-color: var(--green-approved-article);
  color: var(--gray-light);
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btnUpload:hover {
  background-color: darkgreen;
}
