/* .divTableMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
} */
.divTableMain {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontally centers children */
}
.divTableButtonsAndInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 4px solid gray;
  padding: 0.25rem;
}

.tableRequestHeader {
  border-bottom: 4px solid gray;
  padding: 2rem;
}

.divLine {
  height: 10px;
  background-color: black;
}
.divShowRows,
.divPagination {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.inputSearchbar {
  padding: 4px 8px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: var(--bg-input-off-white);
}

.tableRequestHeader th {
  padding: 8px;
  border-bottom: 4px solid gray;
}

.columnHeaderSmallNote {
  text-align: center;
}
.columnHeaderSmallNote span {
  font-size: 0.8em;
  color: #555;
}
.divColumn {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  /* width: 3rem; */
}
.spanExpandedRowColumnTest {
  display: flex;
  justify-content: center;
  background-color: green;
  flex: 1;
}
.spanExpandedRowColumn {
  text-align: center;
}
.spanExpandedRowColumnEnd {
  width: 100%;
  text-align: right;
  /* display: flex;
  justify-content: flex-end;
  background-color: green; */
}
.divExpandedRow {
  display: flex;
}
.selectedRow {
  background-color: #e6e6e6;
}

.selectedRow td {
  font-weight: bold;
}

.approvedRow {
  background-color: var(--green-approved-article);
}

.trExpandedRow {
  background-color: #f0f0f0;
}

.btnDate {
  background: none;
  color: blue;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  text-align: center;
}
.btnDownload {
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem 1rem;
  border: none;
}
