/* .divTableMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
} */
.divTableMain {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontally centers children */
}
.divTableButtonsAndInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 4px solid gray;
  padding: 0.25rem;
}
.tableRequest {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.tableRequestHeader {
  border-bottom: 4px solid gray;
  padding: 2rem;
}

.divLine {
  height: 10px;
  background-color: black;
}
.divShowRows,
.divPagination {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.inputSearchbar {
  padding: 4px 8px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: var(--bg-input-off-white);
}

.tableRequestHeader th {
  padding: 8px;
  border-bottom: 4px solid gray;
}

.columnHeaderSmallNote {
  text-align: center;
}
.columnHeaderSmallNote span {
  font-size: 0.8em;
  color: #555;
}
.divColumn {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  /* width: 3rem; */
}

.divExpandedRow {
  display: flex;
}
.selectedRow {
  background-color: #e6e6e6;
}

.selectedRow td {
  font-weight: bold;
}

.approvedRow {
  background-color: var(--green-approved-article);
}

.trExpandedRow {
  background-color: #f0f0f0;
}

.btnDate {
  background: none;
  color: blue;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  text-align: center;
}
.btnDownload {
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem 1rem;
  border: none;
}
.faDownload {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("/images/buttons/reports/download-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease-in-out;
}

.btnDownload:hover .faDownload {
  background-image: url("/images/buttons/reports/download-solid-green.svg");
}
.btnRecreate {
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem 1rem;
  border: none;
}
.faSquarePlus {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("/images/buttons/reports/square-plus-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease-in-out;
  border: none;
}

.btnRecreate:hover .faSquarePlus {
  background-image: url("/images/buttons/reports/square-plus-solid-blue.svg");
}
.btnDelete {
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem 1rem;
  border: none;
}
.faTrash {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("/images/buttons/reports/trash-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease-in-out;
}
.btnDelete:hover .faTrash {
  background-image: url("/images/buttons/reports/trash-solid-red.svg");
}

/* Expanded rows Nick added */

.tbodyExpandedRow {
  margin: 0;
  padding: 0;
}
.tbodyExpandedRow tr {
  margin: 0;
  padding: 0;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.divExpandedRowColumnLeft {
  width: 5rem;
  padding: 0;
}
.divExpandedRowColumn {
  flex: 1;
  padding: 0;
  text-align: center;
  /* background-color: blue; */
}

.divExpandedManageReportsButtons {
  display: inline;
  /* background-color: green; */
}
