.divSuperInput {
  position: relative; /* ← Add this */
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputPassword {
  border: none;
  background-color: #f7f7f8;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
}

.iconEye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

/* Large screens (media query) */
@media (min-width: 400px) {
  /* .iconEye {
    transform: translate(600%, 1.8rem);
  } */
}
