.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  /* padding: 4rem 0; */
}

.divLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  min-width: 50%;
  background-color: #d9d9d9;
}

.imgNewsNexusLogo {
  width: 150px;
}
.divRight {
  display: none;
}

.h1PageTitle {
  line-height: 1.15;
  font-size: 2rem;
  color: var(--med-text-color);
}

.divForm {
  min-width: 200px;
  width: 80%;
}
.divEmailAndPassword {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}
.divInputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.divInputGroup label {
  color: var(--med-text-color);
}
.inputEmail {
  border: none;
  background-color: #f7f7f8;
  border-radius: 12px;
  padding: 12px;
}

.divButtonAndLinks {
  width: 100%;
  padding: 1rem 0;
}
.divResetPassword {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  width: 100%;
  padding: 1rem 0;
}
.buttonSubmit {
  background-color: var(--blue-color);
  color: var(--light-text-color);
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}
.divRegister {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}
/* Large screens (media query) */
@media (min-width: 768px) {
  .divRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
  }
  .imgKmLogo {
    width: 80%;
  }
}
