.main {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh;
  /* padding: 4rem 0; */
}

.divLeft {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  /* padding: 4rem 0; */
  /* background-color: #f0f0f0; */
}

.divRight {
  display: none;
}

.h1PageTitle {
  line-height: 1.15;
  font-size: 2rem;
}

/* .title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
} */

.divInputGroup {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0; */
}
.inputEmail {
  /* no border */
  border: none;
  background-color: #f7f7f8;
  border-radius: 12px;
  padding: 12px;
}

/* Large screens (media query) */
@media (min-width: 768px) {
  .divRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
  }
  .imgKmLogo {
    width: 80%;
  }
}
