.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* min-height: 100vh; */
  padding: 4rem 0;
}

/* .divMainSub {

} */
.btn {
  border-radius: var(--input-border-radius);
}
.divTop {
  display: flex;
  height: 27rem;
  gap: 1rem;
}
.divTopLeft {
  height: 27rem;
  padding: 1rem;
  border: 4px solid gray;
  border-radius: 0.5rem;
}
.divReportTable {
  /* background-color: var(--off-white); */
  border-radius: 12px;
}
.divTopRight {
  /* width: 50%; */
  /* background-color: green; */
  flex: 1;
  padding: 1rem;
  border: 4px solid gray;
  border-radius: 0.5rem;
}
.divStagedArticles {
  display: flex;
  flex-direction: column;
}
.divBottom {
  padding: 1rem;
  border: 4px solid gray;
  border-radius: 0.5rem;
}
.btnWarningYellow {
  background-color: yellow;
}
/* 
---------------------
New Report Table 
---------------------
*/
.divColumnHeader {
  text-align: center;
  font-size: small;
  width: 6rem;
}
.divColumnValue {
  text-align: center;
  color: var(--gray-dark);
}
.btnDate {
  background: none;
  color: blue;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  text-align: center;
}
.btnDownload {
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem 1rem;
  border: none;
}

.faDownload {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
  display: inline-block;
}
.btnDownload:hover {
  background-color: rgb(98, 167, 98);
  border-radius: 25%;
  opacity: 0.6;
}

.btnDelete {
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem 1rem;
  border: none;
}
.faTrash {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
  display: inline-block;
}
.btnDelete:hover {
  background-color: rgb(213, 50, 50);
  border-radius: 25%;
  opacity: 0.6;
}
/*
---------------------
Staged Articles Table
---------------------
*/

.divStagedColumnValue {
  text-align: center;
  color: var(--gray-dark);
}

/*
---------------------
Approved Articles Table
---------------------
*/
.divRequestTableParameters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--gray-light);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.divParametersDetailLoadingStatistics {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: center;
  width: 15rem;
  padding-right: 0.5rem;
  gap: 0.25rem;
}
.divParametersDetailLoadingStatisticsRow {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lblParametersDetailTimes {
  font-size: small;
}
.divApprovedArticlesHeader {
  display: flex;
  flex-direction: row;
}
.divApprovedArticlesActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

.btnSubmit {
  background-color: var(--blue-dark);
  color: var(--gray-light);
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease; /*This with .btnSubmit:active make press feel*/
}
.btnSubmit:active {
  transform: scale(0.87);
}

.btnCreate {
  background-color: var(--green-approved-article);
  color: var(--gray-light);
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btnCreate:hover {
  background-color: darkgreen;
}
.divColumnValueTitle {
  text-align: center;
  color: var(--gray-dark);
  font-size: small;
  width: 10rem;
}
.radioButtonInactive {
  width: 16px;
  height: 16px;
  border: 2px solid darkslategray;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  margin: auto;
}

.radioButtonActive {
  width: 16px;
  height: 16px;
  border: 2px solid darkslategray;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: auto;
}

.radioButtonActive::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--gray-medium);
  transform: translate(-50%, -50%);
}

/* Large screens (media query) */
@media (min-width: 768px) {
  .divMainSub {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 1rem;
  }
}
