.main {
  /* min-height: 100vh; */
  min-height: var(--height-content-main);
}

/* ----------

    divMainTop

---------- */

.divMainTop {
  width: 100%;
  height: 5rem;
  background-color: gray;
  /* border: 4px dashed gray; */
}

/* ----------

    divMainMiddle

---------- */

.divMainMiddle {
  /* height: 10rem; */
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: 4px dashed gray; */
  gap: 1rem;
  padding: 1rem;
}

.divMainMiddleLeft {
  /* border: 4px dashed gray; */
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 4px solid gray;
  /* max-width: 80%; */
  flex: 1;
}
.divMainMiddleLeftTitle {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.divMainMiddleLeftTitle h2 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}
.divArticleDetail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.divManageStates {
  flex: 1;
}
.lblArticleDetailMain {
  font-weight: bold;
  /* color: var(--off-white); */
}
.lblArticleDetailSub {
  font-size: 0.6rem;
  text-align: center;
}
.inputArticleDetail {
  flex: 1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--gray-medium);
  color: black;
}
.divArticleDetailContent {
  display: flex;
  /* align-items: center; */
  gap: 0.5rem;
}
.inputArticleDetailContent {
  flex: 1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  height: 10rem;
}
.divArticleContent {
  background-color: var(--gray-medium);
  padding: 0.5rem;
}
.divMainMiddleRight {
  /* flex: 1; */
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btnSubmit {
  background-color: var(--blue-dark);
  color: var(--gray-light);
  border: none;
  padding: 12px;
  /* width: 100%; */
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease; /*This with .btnSubmit:active make press feel*/
}
.btnSubmit:active {
  transform: scale(0.87);
}
/* .divRequestGroup {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.divRequestGroupInput {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-end;
}
.divRequestGroupInputWide {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-end;
  width: 20rem;
  position: relative;
}


.inputError {
  outline: 2px solid red;
} */

/* ----------

    divMainBottom

---------- */

.divMainBottom {
  width: 100%;
  /* height: 20rem; */
  /* border: 4px dashed gray; */
}

/* .divRequestTableGroup {
  background-color: purple;
} */
/* ----------

    Table

---------- */

.columnHeaderSmallNote {
  text-align: center;
}
.columnHeaderSmallNote span {
  font-size: 0.8em;
  color: #555;
}
.divBtnRelevant {
  display: flex;
  justify-content: center;
}
.btnRelevant {
  background-color: var(--blue-dark);
  color: var(--gray-light);
  border: none;
  padding: 0.5rem;
  /* width: 100%; */
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease; /*This with .btnSubmit:active make press feel*/
}
.btnRelevant:active {
  transform: scale(0.87);
}
.btnOpaque {
  background-color: gray;
  opacity: 0.7;
}
/* Large screens (media query) */
@media (min-width: 768px) {
  .divMainBottom {
    display: flex;
    flex-direction: row;
  }
}
