/* .divRequestTableGroup { */
.divTableMain {
  border-radius: 10px;
  /* border: 4px solid gray; */
  padding: 0.5rem;
  flex: 1;
}
/* .divRequestTableDisplayRows { */
.divTableButtonsAndInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 4px solid gray;
}

.tableRequestHeader {
  border-bottom: 4px solid gray;

  padding: 2rem;
}

.divLine {
  /* width: 100%; */
  height: 10px;
  background-color: black;
}
/* .tableRequestHeader {
  border-bottom: 4px solid gray;
} */

.tableRequestHeader th {
  padding: 8px;
  border-bottom: 4px solid gray;
}

.tableRequest tbody tr {
  background-color: white;
}
.tableRequest {
  background-color: gray;
}
