.headerCustom {
  background-color: var(--bg-navbar-top);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  height: var(--height-header-top);
}
.divMain {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin-top: var(--height-header-top);
}
.divHeaderLeft {
  padding: 0.5rem;
}
.imgNewsNexusLogo {
  width: 50px;
}
.divHeaderMiddle {
  flex: 1;
}
.divHeaderRight {
  padding: 0.5rem;
}

.hamburgerMenu {
  display: block; /* Visible on small screens */
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
.faHamburgerMenu {
  font-size: 1.5rem;
  color: white;
}

.divLeftChildren {
  flex: 1;
}
.divRightMenu {
  background-color: var(--bg-navbar-top);
  opacity: 0.5;
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  width: var(--width-side-menu);
  height: 100vh;
  /* border: 4px dashed gray; */
}
.divRightMenuClose {
  width: var(--width-side-menu);
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.faXmark {
  font-size: 2rem;
  color: gray;
}
.faXmark:hover {
  color: white;
}

.divRightMenu a {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: white;
  text-decoration: none;
}
.divRightMenu a:hover {
  border: 1px solid white;
}
.divRightMenu a.active {
  background-color: black;
}

/* Large screens (media query) */
@media (min-width: 768px) {
  .headerCustom {
    height: var(--height-header-top-large);
  }
  .divMain {
    margin-top: var(--height-header-top-large);
  }
  .divRightMenu {
    top: var(--height-header-top-large);
  }
  .divHeaderLeft {
    padding: 1rem;
  }
  .imgNewsNexusLogo {
    width: 80px;
  }
  .divHeaderRight {
    padding: 1rem;
  }
  .faHamburgerMenu {
    font-size: 2.5rem;
    /* color: white; */
  }
}

/* Modal */
/* Modal */

.openModalButton {
  /* padding: 10px 20px; */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.openModalButton:hover {
  background-color: #0056b3;
}
